body {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.inputs, main li {
    border-bottom: 2px solid #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 1rem;
    border-radius: .8rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .3);
}

main.list {
    max-width: 400px;
    min-height: 200px;
}

main button, main input, main select {
    margin-right: 5px;
    max-width: 100px;
    margin-bottom: 10px;
}

main.player {
    max-width: 260px;
}

main footer {
    display: flex;
    flex-direction: column;
    padding: .25rem 0;
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main li {
    padding: 0.2rem;
}

main a {
    color: #000000;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info {
    position: relative;
}

.info h1 {
    margin: .25rem 0 0 0;
    padding: 0;
    padding-right: 40px;
}

.info h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .4);
}

.info span {
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #E5E5E5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: .25rem;
    right: .25rem;
}

.info span:hover {
    background-color: #E5E5E5;
    cursor: pointer;
}

.volume {
    background-color: #ffffff;
    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: .4rem;
    top: -110px;
    right: 10px;
}

input[type=range] {
    transform: rotate(-90deg);
    width: 90px;
    position: absolute;
    left: -37.5px;
    top: 40px;
}

.time {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 10px 0;
}

.time h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, .4);
}

.progress {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.progress article {
    background: rgba(0, 0, 0, .1);
    width: 100%;
    border-radius: 99rem;
    padding: .125rem;
}

.progress article:hover {
    cursor: pointer;
}

.progress article .bar {
    height: .25rem;
    background: #333;
    width: 100%;
    border-radius: 99rem;
    transition: width .3s;
}

.controls {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls img {
    height: 1.8rem;
    margin: 0 1rem;
}

.controls img:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}